/*layout
_____________________________*/

html, body {
    
    height: 100%;
      }
      


body {
    background: #ececec;
    

    background-attachment: fixed;
}

/*Bara de navegação
________________________________*/
nav.navbar-tranparente { 
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 0.5);
}

.capa {
    text-align: center;
     padding-top: 15%;
}
/*formatar conteudo */
.caixa1{
    background: #f3f3f3 ;
    margin: 10px 0;
    padding: 5px ; 
}
.caixa-conteudo{
    background: #c4d4e0;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.caixa-conteudo2 {
    background: white;

    
    
}
.imagem {
    width: 95%;
    height: 95%;

}
h5{
    font-size: 1em;
    margin: 5px;
    color: #fff;
    padding: 5px;
}
.caixa-noticia {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}
